
li,a {

    font-size: 50px;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    text-transform: capitalize;
    
}


h1 {
    color:hsl(0, 0%, 100%);
    font-size: 36px;
    text-transform: capitalize ;
}


.nav_links li {
   display: inline-block;
   padding: 2% 6%;
}

.nav_links li a {
    transition: all .3s ease 0s;
}


.nav_links li a:hover {
    color: rgb(255, 252, 62);
}

s_links li a {
    transition: all .3s ease 0s;
}


html {
    scroll-behavior: smooth;
}

body {

    background-color: black;
    width:100%;
    margin: 0;
    text-align: center 
}

nav div {
    display: inline;
      
}

  
div {

   transition: all 1s;
   width: 30% ;
   padding: 20px 0px;
   display: inline-block;
}

div:hover {

    transform: scale(1.1,1.1);
}

img  {

   width: 100% ;
   border-radius: 20px 0 20px 0;
}

.mobile {
   display: none;
}
   


/*----стили которые меняются на мобиле ----*/
@media(max-width: 500px) {
div {
    width: 100%;
}

div:hover {
  transform: none;
}

body nav:first-child li {
  display: block;
  text-align: center;
}

.desktop {
    display: none;
}
 
.mobile {
    display: block;
}

img  {

    width: 100% ;
    border-radius: 20px 20px 20px 20px;
}
 